;;;;
; the following options override the default values
;;;;

ignore-scripts=true
provenance=true
save-exact=true
save-prefix=''

;;;;
; the following options can be used for stricter control, best to consult npm docs
; https://docs.npmjs.com/cli/v11/using-npm/config to see if they are applicable to your use case
;;;;

; allow-git=none
; before=
; engine-strict=true
; min-release-age=86400
; prefer-offline=true
; sign-git-commit=true
; sign-git-tag=true
; strict-peer-deps=true
